body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{

    height: 50px;
    width: 100%;
    background-color: rgb(248, 91, 91);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    font-weight: bold;
    color: white;
}
nav{
  background-color: rgb(157, 170, 247);
  height: 30px;
}
a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

}
a:hover{
    background-color: rgb(238, 46, 206);
}
#content{
    width: 80%;
    height: 400px;
    background-color: rgb(237, 248, 248);
    float: left;
   padding: 5px;

    
}
img{
    height: 200px;
    width: 150px;
    padding: 10px;
    float: left;

}

#aside_div{
    float: right;
    margin-top: 0;
    width: 17.7%;
    height: 400px;
    padding: 5px;
    background-color: rgb(228, 208, 208);
    border: 2px solid rgb(167, 165, 165);
}
