body{
      margin: 0;
      padding: 0;
}
#parent{
    padding: 2px;
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 900px;
    height: 300px;
    background-color: rgb(251, 253, 132);
}
#inner{
    /* padding: 2px;
    margin: 10px; */
    display: flex;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 800px;
    background-color: rgb(241, 125, 168);

}
#inner div{
    display: inline;
    padding: 20px;
    margin: 20px;
    margin-top: 10px;
   
}
#inner .A
{
    margin: 20px;
    padding: 20px;

    height: 80px;
    width: 80px;
    background-color: rgb(194, 10, 10);
}
.B{
    height: 80px;
    width: 80px;
    background-color: #fff;
}
.C{
    height: 80px;
    width: 80px;
    background-color: #fff;
}
.D{
    height: 80px;
    width: 80px;
    background-color: #fff;
}
.E{
    height: 80px;
    width: 80px;
    background-color: #fff;
}